# Apache 2.2
<IfModule !mod_authz_core.c>
    Order deny,allow
    Deny from all

    <FilesMatch "(logo\.png|logo\.webp|tree\.min\.js|release-description\.css)">
        Allow from All
    </FilesMatch>
</IfModule>

# Apache 2.4
<IfModule mod_authz_core.c>
    Require all denied

    <FilesMatch "(logo\.png|logo\.webp|tree\.min\.js|release-description\.css)">
        Require all granted
    </FilesMatch>
</IfModule>
